.wrapper {
  margin: 150px auto 0;
  width: 1064px;
}

.wrapper p {
  font-size: 1.62em;
}

.prices {
  position: absolute;
  width: 1064px;
  bottom: 125px;
}

.admission__left,
.admission__right {
  display: inline-block;
  font-size: 3.85em;
  line-height: 1.2em;
  font-family: akzidenz-grotesk-next-pro;
  font-weight: 500;
}

.admission__left {
  width: 80%;
}

.admission__right {
  position: absolute;
  right: 0;
  width: 140px;
}
